.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  cursor: text;
  outline: solid 1px #bebebe;
  border-radius: 3px;
  width: 100%;
  max-width: 250px;
  height: 56px;
}

.inputContainer input {
  cursor: text;
  color: black;
  background-color: transparent;
  padding-left: 10px;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  outline: none;
}

.inputPaddingRight {
  width: 10px;
  height: 100%;
}
.hover {
  outline: solid 2px black;
}
.default {
  outline: solid 1px #bebebe;
}
.focused {
  outline: solid 2px #0072e5;
}
