@import './roboto/roboto.css';

.primaryReg > * {
  font-family: 'Roboto';
}
.primaryThin > * {
  font-family: 'Roboto-thin';
}
.primaryThinItalic > * {
  font-family: 'Roboto-thin-italic';
}
.primarylight > * {
  font-family: 'Roboto-light';
}
.primarylightItalic > * {
  font-family: 'Roboto-light-italic';
}
.primaryMedium > * {
  font-family: 'Roboto-medium';
}
.primaryMediumItalic > * {
  font-family: 'Roboto-medium-italic';
}
.primaryBold > * {
  font-family: 'Roboto-bold';
}
.primaryBoldItalic > * {
  font-family: 'Roboto-bold-italic';
}
.primaryBlack > * {
  font-family: 'Roboto-black';
}
.primaryBlackItalic > * {
  font-family: 'Roboto-black-italic';
}
