.light {
  --bold-base: black;
  --bold-contrast: #ffffff;

  --primary: #0072e5;
  --secondary: #e7e7e7;
  --primary-active: #77a7d8;
  --secondary-hover: #f5f6f7;

  --background-layer: #0000007c;
  --background-base: var(--bold-base);

  --disabled: #00000099;
  --enabled: var(--bold-base);
  --unfocused: #6f7e8c;
  --transparent: #0000000a;

  --input-border-default: #bebebe;
  --input-border-focused: var(--primary);

  --current-picker-element: black;
  --selected-underline-container-color: var(--secondary);
  --selected-underline-color: var(--primary);

  --day-number-color: black;
  --year-number-color: black;

  --am-pm-suffix-color: var(--bold-base);
  --am-pm-btns-selected-bg-color: var(--primary);
  --am-pm-btns-unselected-bg-color: var(--secondary);
  --am-pm-btns-selected-font-color: white;
  --am-pm-btns-unselected-font-color: black;

  --cancel-ok-btns-color: var(--primary);
  --cancel-ok-btns-color-active: var(--primary-active);
}

.dark {
  --bold-base: white;
  --bold-contrast: #3a3a3a;
  --primary: white;
  --secondary: #0000009a;
  --primary-active: #686868;
  --secondary-hover: #373737;

  --background-layer: #2121217c;
  --background-base: var(--bold-base);

  --disabled: #e7e7e799;
  --enabled: var(--bold-base);
  --unfocused: #adadad;
  --transparent: #ffffff0a;

  --input-border-default: #bebebe;
  --input-border-focused: var(--primary);

  --current-picker-element: white;
  --selected-underline-container-color: var(--secondary);
  --selected-underline-color: var(--primary);

  --day-number-color: white;
  --year-number-color: white;

  --am-pm-suffix-color: var(--bold-base);
  --am-pm-btns-selected-bg-color: white;
  --am-pm-btns-unselected-bg-color: var(--secondary);
  --am-pm-btns-selected-font-color: black;
  --am-pm-btns-unselected-font-color: white;

  --cancel-ok-btns-color: #a7a7a7;
  --cancel-ok-btns-color-active: white;
}
