.mainContainer {
  --toolbar-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg);
  font-size: var(--p-size);
  font-family: var(--primary-font);
}
.underPadding {
  height: var(--toolbar-height);
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--toolbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: var(--toolbar-bg);
  color: var(--toolbar-contrast);
  box-shadow: 0px 2px 6px var(--toolbar-shadow);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding-left: 25px;
}

.logo {
  font-family: var(--logo-font);
  font-size: var(--logo-size);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
