.btnSvgContainer {
  --btn-diameter: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 25px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px var(--add-task-shadow);
  width: var(--btn-diameter);
  height: var(--btn-diameter);
}
.bgCircle {
  fill: var(--add-task-btn-bg);
}
.plusIcon {
  fill: var(--add-task-plus-icon);
}
